{% extends 'base.html' %}
{% load static %}
{% load staticmanager %}


{% block head %}
 
    <link rel="stylesheet" href="{% static 'excelupload/check.css'%}">  
{% endblock %}


{% block content%}

<style>
.minimage{
    width:4rem;
    height:4rem;

}
.table{
    text-align: center;
    width: 100%;
}
.table td{
    vertical-align:middle;
    color:white
}

table,
tr,
th,
td{
    border:1px solid var(--white2);
    border-collapse:collapse;
    min-height:3rem
}

tr{
    height:3rem;
}

.content {
    width: 85%;
    margin: 1rem auto;
}
.searchbox{
    margin: 2rem 0rem;
}

#addKey div{
    display: flex;
    width: 10%;
    margin: 1rem 0rem;
    flex-direction: column;
}

#addKey select{
    height: 2rem
}
h1,label{
    color:white
}


</style>

<h1>Manage Site Settings.</h1>


<form id="addKey">
    <div>
        <label for "keyvalue">Key</label>
        <input id="keyvalue" type="keyvalue">
    </div>
    <div>
        <label>Type</label>
        <select id="selectoptions" onchange="changeFields(this.value)">
            <option value="0">*Select</option>
            <option value="1">Text</option>
            <option value="2">TextArea</option>
            <option value="3">File</option>
            <option value="4">Link</option>
            <option value="5">Load Data (No key required)</option>
        </select>
    </div>

    <div  id="dv1">
        <label for "text">Text</label>
        <input id="text" type="text">
    </div>
    <div  id="dv2">
        <label for "textarea">TextArea</label>
        <textarea id="textarea"></textarea>
    </div>

    <div  id="dv3">
        <label for "file">File/Image</label>
        <input id="file" type="file">
    </div>

    <div  id="dv4">
        <label for "link">Link label</label>
        <input id="linkh" type="text">
        <br>
        <label for "link">Link destiny</label>
        <input id="linkb" type="text">
    </div>

    <div  id="dv5">
        <label for "fileexcel">File/Image</label>
        <input id="fileexcel" type="file">
    </div>
    <br>
    <input onclick="sendform(this.parentElement)" type="button" value="Submit">
</form>



<div class="searchbox">
    <input id="navbarsearchbox2" class="transparentinput" type="text" placeholder="Search here">
    <button onclick="location.href = './'+slugify(navbarsearchbox2.value)" class="buttonsearch" ><i class="fa fa-search"></i></button>
</div>
<table class="table">
    <tr class ="bg-light">
        
        
        <td><b>Key</b></td>
        <td><b>type</b></td>
        <td><b>Content</b></td>
        <td><b>Display</b></td>
        {% comment %} <td><b>Link</b></td> {% endcomment %}
        <td><b>Action</b></td>
    </tr>
    {% for object in objects%}
    <tr class = "foralltables ">
            <td >
                <span>{{object.keyobj}}</span>
            </td>
            <td >
                <span>{{object.retType}}</span>
            </td>
            {% if object.type == 1 %}
            <td ondblclick="showhide(this.children[0]);showhide(this.children[1])">
                <span>{{object.textobj}}</span>
                
                <div hidden>
                    <input id="txtedit{{object.id}}" type="text" value='{{ object.textobj }}'>
                    <input onclick="sendtext(this.parentElement.children[0], {{object.id}})" type="button" value="Send">
                </div>
                
            </td>
            {% endif %}
            {% if object.type == 2 %}
            <td ondblclick="showhide(this.children[0]);showhide(this.children[1])">
                <span>{{object.textareaobj|truncatechars_html:100}}</span>
                
                <div hidden>
                    <textarea id="areaedit{{object.id}}">{{object.textareaobj}}</textarea>
                    <input onclick="sendarea(this.parentElement.children[0], {{object.id}})" type="button" value="Send">
                </div>
                
            </td>
            {% endif %}
            {% if object.type == 3 %}
            <td ondblclick="showhide(this.children[0]);showhide(this.children[1])">
                <span>{{object.fileobj}}</span>
                
                <div hidden>
                    <input id="fileedit{{object.id}}" type="file">
                    <input onclick="sendfile(this.parentElement.children[0], {{object.id}})" type="button" value="Send">
                </div>
                
            </td>
            {% endif %}
            {% if object.type == 4 %}
            <td ondblclick="showhide(this.children[0]);showhide(this.children[1])">
                <span><a style="color:black" href = "{{object.linkobjb}}">{{object.linkobjh}}</a></span>
                
                <div hidden>
                    <input id="linkheadt{{object.id}}" type="text" value='{{object.linkobjh}}'>
                    <input id="linkbody{{object.id}}" type="text" value='{{object.linkobjb}}'>
                    <input onclick="sendlink(this.parentElement, {{object.id}})" type="button" value="Send">
                </div>
                
            </td>
            {% endif %}
            <td>
                {% if object.type == 3 %}
                <img class="minimage" src="{{newobj | get_image:object.keyobj}}">
                {% endif %}
            </td>

            <td onclick="deleteline({{object.id}})">
                <i style="cursor:pointer" class="material-icons">delete</i>
            </td>
        </tr>
    {% endfor %}

</table>




<div class="pagination">
    <div class="step-links">
        {% if objects.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ objects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="circles">
            {% for x in objects.paginator %}
                {% if x.number|add:"-3" <= objects.number and x.number|add:"3" >= objects.number %}
                <a style="all:unset" href="?page={{x.number}}"><div class="circle {% if x.number == objects.number%}turnorange {% endif%}"></div></a>
                {% endif %}
            {% endfor %}
        </span>

        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}">next</a>
            <a href="?page={{ objects.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
    <div>Page {{ objects.number }} of {{ objects.paginator.num_pages }}.</div>
</div>



<script>

    async function sendlink(object,id){
        data = createDataFiles('newlink', object)
        data.append("value", id)
        data.append("newlinkh", object.children[0].value)
        data.append("newlinkb",  object.children[1].value)
        obj = await fetchpage2("/staticmanager/", data)
        location.reload()
    }
    async function sendtext(object,id){
        data = createDataFiles('newtext', object)
        data.append("value", id)
        data.append("newtext", object.value)
        obj = await fetchpage2("/staticmanager/", data)
        location.reload()
    }

    async function sendarea(object,id){
        data = createDataFiles('newarea', object)
        data.append("value", id)
        data.append("newarea", object.value)
        obj = await fetchpage2("/staticmanager/", data)
        location.reload()
    }


    async function sendfile(object, id){
        data = createDataFiles('newfile', object)
        data.append("value", id)
        data.append("file", object.files[0])
        obj = await fetchpage2("/staticmanager/", data)
        location.reload()
    }

    async function deleteline(id){
        data = createDataFiles('delete', id)
        data.append("value", id)
        obj = await fetchpage2("/staticmanager/", data)
        location.reload()
    }

    function changeFields(value){
        dv1.style['display'] = 'none'
        dv2.style['display'] = 'none'
        dv3.style['display'] = 'none'
        dv4.style['display'] = 'none'
        dv5.style['display'] = 'none'
        if (value == 1 )
            dv1.style['display'] = ''
        if (value == 2 )
            dv2.style['display'] = ''
        if (value == 3 )
            dv3.style['display'] = ''
        if (value == 4 )
            dv4.style['display'] = ''
        if (value == 5 )
            dv5.style['display'] = ''
        
    }
    changeFields(0)
async function sendform(form){
    data = createDataFiles("newkey", form)

    obj = await fetchpage2("/staticmanager/", data)
    location.reload()
}
</script>
{% endblock %}
