
.content{
    margin-top: 2rem;
}
.recbloc{
    position:relative;
    margin: 2rem 0rem;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    opacity: .9;
}
.wrapper{
    position:relative;
    line-height: 1.5rem;
    display: flex;
    width: 70%;
    flex-direction: row;
    background-color: var(--gray);
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-wrap: nowrap;
}



.wrapper .image{
    width: 27rem;
    padding: 1rem;
}

.wrapper .image img{
    width:100%;
    height: 100%
}
.texts .subtitle,
.texts .title{
    font-weight: bold;
    color: var(--blue);
    font-size: 1.1em;
}
.texts .subtitle{
    font-size: .8em;
}

.wrapper .texts{
    padding: 1rem;
    padding-left: 0;
    min-height: 20rem;
}

.texts .text{
    font-size: .7em;
    color: var(--white);
    width: 23rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.recbloc .paralel{
    background-color: var(--gray);
    width: 0rem;
    position: relative;
    border-bottom: 1px solid var(--blue)
}

.recbloc .skew{
    height: 100%;
    width: 7rem;
    border-right: 3px solid var(--blue);
    transform: skewX(10deg) scale(1.001);
    transform-origin: top right;
    background-color: var(--gray);
    position: absolute;
    right: 0;
    z-index: -1;
}

/* Revert */

.recbloc:nth-child(even){
    flex-direction: row-reverse;
}

.recbloc:nth-child(even) .wrapper{
    flex-direction: row-reverse;
}

.recbloc:nth-child(even) .paralel{
    right: -55px;
    z-index: -1;
}

.recbloc:nth-child(even) .skew{
    border-left: 3px solid var(--blue);
    border-right:unset;
    transform: skewX(-10deg);
    right: -32px;
    z-index: -1;
}

.recbloc .border{
    width: 95%;
    display: flex;
    height: 100%;
    border-top: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
    top: 0;
    left: 0;
    position: absolute;
}

.recbloc .border.greater{
    width:100%;
    border-top: unset;
}

.recbloc:nth-child(even) .border{
    left:unset;
    right: 0;
}

@media screen and (max-width:1000px){
    .wrapper .image {
        overflow: hidden;
        display: flex;
        padding: 1rem;
        padding-left: 0rem;
        justify-content: center;
        align-items: center;
        width: 11rem;
    }
    .wrapper{
        width: 85%;
        justify-content: flex-start;

    }
    .wrapper .image img{
        width:unset;
    }
    .wrapper .texts{
        width: 55%;
        
    }
    .recbloc:nth-child(odd) .texts{
        padding-left:.5rem;
    }
    .recbloc:nth-child(even) .texts{
        padding-left:unset;
    }
    .texts .title{
        font-size: .8em;
    }
    .texts .text{
        line-height: 2rem;
        overflow: hidden;
        max-height: 42rem;
        width: 100%;
        font-size: .85em;
    }
    .recbloc .skew{
        transform: skewX(2deg) scale(1.001);
    }
    .recbloc:nth-child(even) .skew{
        transform: skewX(-2deg) scale(1.001);
    }
    .recbloc:nth-child(even) .wrapper .image{
        padding-right:0rem
    }
}