{% load static %}
<section class="mainGrid">
    {% for object in objects %}
    <div class="bigBlock">
        <div class="purpleBlock">
            <div class="title">{{object}}</div>
            <ul>
                {% for item in object.quarterList.all %}
                <li class="sublist">{{item}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="bigIcon">
            <div class="icon">
                <img src="{% static 'img/token.png'%}">
            </div>
        </div>
    </div>
    {% endfor %}
</section>